<div class="container">
<p>add-contact works!</p>
<form class="pl-5" #addContactForm="ngForm" (submit)="addContact(addContactForm)">
  <input type="text" [(ngModel)]="firstName" name="firstName">
  <br>
  <input type="checkbox" [(ngModel)]="terms" name="terms" required> Accept terms and condition
  <br>
  <button type="submit" [disabled]="!addContactForm.valid">Add Customer</button>

</form>
<div>
  {{firstName}}
</div>


<div *ngIf="msgTrue">Contact created successfully</div>
<!--<button (click)="addNewContact()" cla>Create New Contact</button>-->

<form #addNewContactForm = "ngForm" (submit)="addNewContact(addNewContactForm)">
  <input type="text" class="form-control" name="id" placeholder="name" required ngModel>
  <input type="text" class="form-control" name="email" placeholder="email" required ngModel>
  <input type="password" class="form-control" name="password" placeholder="password" required ngModel>
  <button type="submit" [disabled]="!addNewContactForm.valid">Add new Contact</button>
</form>

</div>
