{{title}}

<div *ngIf="successMsg; then updatedMsg else errorMsg" class="bg-success">
  user added successfully
</div>
<ng-template #updatedMsg class="bg-success">
  <br>
  user updated
</ng-template>

<ng-template #errorMsg class="bg-success">
  <br>
  user not added
</ng-template>


<ul>
  <li *ngFor="let contact of contacts; index as i; first as f; last as l">
    <div *ngIf="f" class="bg-info">This is first Object</div>
    <div *ngIf="l" class="bg-info">This is last Object</div>
    <div>
      {{i}} {{contact.fName}} {{contact.lName}} {{contact.address}}
    </div>
  </li>
</ul>

<ul>
  <div>Even Odd Table</div>
  <li *ngFor="let contact of contacts; index as i; even as e, odd as o">
    <div *ngIf="e" class="bg-success">
      {{i}} {{contact.fName}} {{contact.lName}} {{contact.address}}
    </div>
    <div *ngIf="o" class="bg-dark text-white">
      {{i}} {{contact.fName}} {{contact.lName}} {{contact.address}}
    </div>
  </li>
</ul>

<h3>ngStyle</h3>
<div [ngStyle]="{'background-color': bgColor}"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa,
  repudiandae!
</div>
<div [ngStyle]="{'color': txtColor === 'blue' ? 'blue' : 'red'}"> Lorem ipsum dolor sit amet, conconsectetur adipisicing
  elit. Ipsa, repudiandae!
</div>

<input [(ngModel)]="username"/>
<div>{{username}}</div>


<h2>pipes</h2>
<h3>{{dateExamp | date}}</h3>
<h3>{{dateExamp | date : 'short'}}</h3>
<h3>{{dateExamp | date : 'long'}}</h3>
<h3>{{dateExamp | date : 'MMM-dd-yy'}}</h3>
<h3>{{jsonExmp | json}}</h3>


<div [ngClass]="(isDarkTheme) ? 'darkMode' : 'lightTheme'">
  <mat-card>
    <mat-card-content>
      <mat-slide-toggle (click)="toggleTheme()">Slide me!</mat-slide-toggle>
    </mat-card-content>
  </mat-card>

  <p>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
</div>

<!--<app-list-profile></app-list-profile>-->
<router-outlet></router-outlet>
<router-outlet name="add"></router-outlet>
<router-outlet name="loan"></router-outlet>
