/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
$angular-primary: mat-palette($mat-indigo);
$angular-accent:  mat-palette($mat-pink, A200, A100, A400);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$angular-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      //warn: $angular-warn,
    ),
  )
);
.darkMode {
  @include angular-material-color($angular-dark-theme);
}
