<p>loan-types works!</p>
<form [formGroup]="addLoanTypesForm" class="pl-5">
  Loan Name <input type="text" formControlName="loanName">
  <br>
  Loan Type <input type="text" formControlName="loanType">
  <br>
  Loan Description<textarea type="text" formControlName="loanDescription"></textarea>
  <br>
  <button (click)="addLoanType()">Add Loan Type</button>
</form>
